.Nav{
    background: #15171c;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.NavIconOpen{
    margin-left: 0rem;
    color: white;
    font-size: 2rem;
}

.NavIconClose{
    margin-left: 1rem;
    color: white;
    font-size: 2rem;
}

.SidebarNav{
    background:#15171c;
    width: 250px;
    height: 100vh;
    display:flex;
    justify-content: center;
    position: fixed;
    top:0;
    transition:300ms;
}

.SidebarWrap{
    width: 100%;
}